# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / secrets
.env
.env.*

# Databases
*.duckdb
*.duckdb.wal

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow.db
airflow.cfg
webserver_config.py

# Raw / generated data
raw/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local user configuration
.user.yml

# API responses / generated data
entsoe_response.xml